.reaction-container {
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid rgb(234, 234, 234);
}

.reaction-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.reaction-content {
  width: 100%;
  border: 1px solid rgb(234, 234, 234);
  padding: 10px 10px 15px;
  background: white;
  border-radius: 4px;
}
.reaction-items {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid rgb(234, 234, 234);
}
.reaction-items > div {
  margin-right: 15px;
}

.upvote {
  color: rgb(153, 153, 153);
}
.gray {
  color: rgb(153, 153, 153);
}
.gray:hover,
.reaction-message:hover {
  cursor: pointer;
  color: #e74c3c;
}
.upvote:hover .gray {
  color: rgb(70, 70, 70);
}

.view-more-reaction {
  color: rgb(153, 153, 153);
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}
.new-reaction {
  color: #e74c3c;
}
.view-more-reaction:hover,
.new-reaction {
  cursor: pointer;
}
