* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: rgb(70, 70, 70);
}

body {
  background: rgb(247, 247, 247);
}

button {
  border: none;
  background: none;
  padding: 0;
}
button:hover {
  cursor: pointer;
}
input {
  outline: none;
  border: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: lighter;
}

h6 {
  font-size: 16px;
}
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: lighter;
}
section {
  margin: 20px 0;
  padding-bottom: 20px;
  position: relative;
}
ul {
  font-size: 12px;
  font-weight: 600;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
