* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Asap', sans-serif;
  color: rgb(70, 70, 70);
}

body {
  background: rgb(247, 247, 247);
}

button {
  border: none;
  background: none;
}

h6 {
  font-size: 16px;
}
h3 {
  font-size: 28px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}
p {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: lighter;
}
section {
  margin: 20px 0;
  padding-bottom: 20px;
  position: relative;
}
ul {
  font-size: 12px;
  font-weight: 600;
}

.nav-container {
  height: 42px;
  background: #402f3f;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  margin-bottom: 30px;
}

.nav-left {
  margin-left: 140px;
  display: flex;
  flex-grow: 0.5;
  justify-content: flex-start;
  align-items: center;
}
.nav-right {
  display: flex;
  margin-right: 100px;
  flex-grow: 0.1;
  justify-content: flex-end;
  align-items: center;
}
.nav-right button {
  font-size: 16px;
}
.circle {
  height: 30px;
  width: 30px;
  background-color: #f75239;
  border-radius: 50%;
  display: inline-block;
}
.circle:hover {
  cursor: pointer;
}
.nav-a {
  margin: 0 10px;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
  color: rgb(153, 153, 153);
}
.nav-a:hover {
  color: white;
}
.nav-logo {
  text-align: center;
  height: 30px;
  width: 50px;
}
.section-container-wrapper {
  margin-left: 160px;
  width: 60%;
  float: left;
  clear: left;
}

.section-container {
  margin: 20px auto;
  height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  /* overflow-x: auto;
    overflow-y: hidden; */
}
.section-items {
  /* height: 205px; */
  margin: 0 3.5px;
  /* width: 150px; */
  /* background: url(../images/Mob_anime.png); */
  background-position: center;
  border-radius: 4px;
  flex: 0 0 auto;
}

.section-items-img {
  height: 205px;
  width: 150px;
  overflow: hidden;
}

.search-bar-wrapper {
  padding: 10px 10px;
  border: 1px solid rgb(229, 229, 229);
  background: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.search-bar-wrapper img {
  height: 29px;
  width: 29px;
}

.section-main-search-bar {
  display: inline-block;
  width: 80%;
}

.section-main-search-bar input {
  outline: none;
  border: none;
  display: inline-block;
  font-family: sans-serif;
  font-weight: lighter;
  width: 100%;
  height: 50%;
  font-size: 18px;
}

.section-advanced-search {
  margin-top: 10px;
}

.section-view-more {
  margin-top: 10px;
  position: absolute;
  right: 10px;
  bottom: 20px;
}
.section-view-more a,
.section-advanced-search a {
  font-size: 12px;
  font-family: sans-serif;
  font-weight: lighter;
  color: #f75239;
}

.genre-container {
  margin-right: 100px;
  padding: 20px;
  position: fixed;
  right: 0;
  height: 590px;
  width: 300px;
  border: 1px solid rgb(229, 229, 229);
  border-radius: 4px;
  background: white;
  float: right;
  clear: right;
}

.categories-head {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 10px;
}

.genre-list {
  margin-bottom: 40px;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.genre-items {
  width: 50%;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.drop-btn {
  height: 100%;
  width: 100%;
  color: rgb(153, 153, 153);
  padding: 10px 0;
}

.drop-btn:hover,
.drop-btn:focus {
  color: white;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  box-shadow: 2px 2px 2px #ddd;
  width: 160px;
  border-radius: 4px;
  z-index: 10;
}
.dropdown-content a {
  height: 30px;
  padding: 5px 20px;
  text-align: left;
}

.dropdown-content-show + .dropdown-content {
  display: block;
}

.dropdown-content-items {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 30px;
}

.dropdown-content-items:hover {
  background: #eee;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* @media screen and (max-width: 1050px) {
    .genre-container {
      display: none;
    }
  } */
