.modal {
  position: fixed;
  /* top: 43%; */
  left: 50%;
  width: 530px;
  /* height: 600px; */
  height: fit-content;
  transform: translate(-50%, 6%);
  border-radius: 2px;
  background: #f7f7f7;
  z-index: 15;
  -webkit-animation-name: animateBottom;
  -webkit-animation-duration: 0.4s;
  animation-name: animateBottom;
  animation-duration: 0.6s;
}
.login-modal-height {
  height: 430px;
}

@-webkit-keyframes animateBottom {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateBottom {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@media screen and (max-width: 530px) {
  .modal {
    width: 90%;
  }
}
